{% extends 'base.html' %}

{% block content %}
    <div class="w3-row">
        <div class="w3-col s7 w3-card" style="height: 250px;border-radius: 15px; margin: 10px; margin-left: 30px; margin-top: 40px; padding: 15px; padding-left: 30px">
            <div class="w3-row">
                <div class="w3-col s4">
                    <img src="https://avatars.githubusercontent.com/u/47309188?v=4" style="border-radius: 50%; height: 200px; border: #397163 6px solid">
                </div>
                <div class="w3-col s8">
                    <h1>Anastasia Spangler</h1>
                    <h3>Seattle University</h3>
                    <p>Passionate about delivering healthcare justice via new technologies.</p>
                </div>

            </div>
        </div>
        <div class="w3-col s4 w3-card" style="height: 250px;border-radius: 15px; margin: 10px; margin-top: 40px;padding: 25px">
            <p><b>271</b> contributions</p>
            <p><b>58</b> summaries written for patients</p>
            <p><b>465</b> peer verifications</p>
            <p><b>15</b> conditions contributed to</p>
        </div>
    </div>
    <div style="margin-left: 40px; margin-top: 40px">
        <h1>Recent Activity</h1>
        <p>Summary posted in <b>Post-Traumatic Stress Disorder</b> received <b>12</b> peer verifications.</p>
        <p>Verified a peer's annotation in <b>Dementia</b>.</p>
        <p>Created <b>5</b> new annotations in <b>Schizophrenia</b>.</p>
        <p>Verified a peer's annotation in <b>Post-Traumatic Stress Disorder</b>.</p>
    </div>
{% endblock %}