{% extends 'base.html' %}

{% block content %}
    <div style="margin: 40px">
        <div style="border-bottom: #397163 5px solid">
            <h1 style="font-size: 75pt; font-family: 'Avenir Next'">Help Plore<br>Hit 100 Conditions.</h1>
        </div>
        <div class="w3-row">
                    <div class="w3-col s6" style="padding-top: 75px">
                        <h1>We're on a mission <br>to open source medicine.</h1><br><br>

                        <h1>You can help deliver critical information to patients, learn more about the medical field, and every contribution is documented for grad school and employers.</h1>
                    </div>
                <div class="w3-col s6">
                    <img src="https://i.ibb.co/8gtYWhd/Screen-Shot-2021-05-02-at-8-44-25-AM.png" style="width: 100%">
                    </div>
                </div>
    </div>
{% endblock %}