{% extends 'base.html' %}

{% block content %}
    <h1 style="margin-left: 90px; margin-top: 20px; font-family: 'Poppins', sans-serif">Condition X Dashboard</h1>
    <div class="w3-card" style="width: 85%; margin: 50px; height: 800px; border-radius: 20px; margin-left: 90px; background-color: #4E5A5F">
        <div class="w3-row" style="border-bottom: lightgray 2px solid; background-color: darkslategrey; color: white; font-family: 'Poppins', sans-serif">
            <div class="w3-col s4 w3-btn">
                <h3><a href="{% url 'identify' %}" style="text-decoration: none; font-family: 'Poppins', sans-serif">Identify</a></h3>
            </div>
            <div class="w3-col s4 w3-btn">
                <h3><a href="{% url 'annotate' %}" style="text-decoration: none; font-family: 'Poppins', sans-serif">Annotate</a></h3>
            </div>
            <div class="w3-col s4 w3-btn">
                <h3><a href="{% url 'summarize' %}" style="text-decoration: none; font-family: 'Poppins', sans-serif">Summarize</a></h3>
            </div>
        </div>
        <div class="w3-row" style="padding: 40px">
            <h3 style="color: white; padding-bottom: 30px">Identify Relevant Articles</h3>

            <div style="padding: 15px; border: white 2px solid; border-radius: 10px; color: white; margin-bottom: 15px">
                <div class="w3-row">
                    <div class="w3-col s10">
                        <h4>Titles of Scientific Articles Are Typically Long So This is Too</h4>
                        <p>Author A, Author B, Author C, Author D | Pub. 2021, Nature</p>
                        <p>Lorem ipsum I don't feel like looking up lorem ipsum so my random typing is going to have to do.</p>
                    </div>
                    <div class="w3-col s2 w3-center">
                        <div class="w3-row" style="margin-bottom: 15px; margin-top: 10px">
                            <div class="w3-btn w3-green" style="border-radius: 10px">Relevant</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-btn w3-red" style="border-radius: 10px">Irrelevant</div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding: 15px; border: white 2px solid; border-radius: 10px; color: white; margin-bottom: 15px">
                <div class="w3-row">
                    <div class="w3-col s10">
                        <h4>Titles of Scientific Articles Are Typically Long So This is Too</h4>
                        <p>Author A, Author B, Author C, Author D | Pub. 2021, Nature</p>
                        <p>Lorem ipsum I don't feel like looking up lorem ipsum so my random typing is going to have to do.</p>
                    </div>
                    <div class="w3-col s2 w3-center">
                        <div class="w3-row" style="margin-bottom: 15px; margin-top: 10px">
                            <div class="w3-btn w3-green" style="border-radius: 10px">Relevant</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-btn w3-red" style="border-radius: 10px">Irrelevant</div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding: 15px; border: white 2px solid; border-radius: 10px; color: white">
                <div class="w3-row">
                    <div class="w3-col s10">
                        <h4>Titles of Scientific Articles Are Typically Long So This is Too</h4>
                        <p>Author A, Author B, Author C, Author D | Pub. 2021, Nature</p>
                        <p>Lorem ipsum I don't feel like looking up lorem ipsum so my random typing is going to have to do.</p>
                    </div>
                    <div class="w3-col s2 w3-center">
                        <div class="w3-row" style="margin-bottom: 15px; margin-top: 10px">
                            <div class="w3-btn w3-green" style="border-radius: 10px">Relevant</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-btn w3-red" style="border-radius: 10px">Irrelevant</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}